@charset "UTF-8";
@mixin WH($width,$height){
  width: $width;
  height: $height;
}
@mixin position($pos,$top,$left,$zIn){
  position: $pos;
  top: $top;
  left: $left;
  z-index: $zIn;
}
@mixin flex{
  display: flex;
  justify-content: space-around;
}
$bianjie:1px solid #C7C7C7;
*{
  margin: 0;
  padding: 0;
  font-family: "宋体";
}
ul{
  list-style: none;
}