@import "topAndBottom";
.blue{
  color: #5FC1FD;
}
.blue:hover{
  color: #5FC1FD;
}
#navDiv ul{
  float: right;
}
#navDiv ul li,#navDiv img{
  float: left;
}
#navDiv li{
  margin-right: 20px;
}
#navDiv{
  @include WH(1200px,80px);
  margin: auto;
  line-height: 50px;
}
#navDiv li{
  @include WH(100px,50px);
  margin: 15px 0;
  padding: 0 10px;
  text-align: center;
  font-size: 18px;
}
#navDiv li:hover{
  background-color: #F6F6F6;
}
#lunbo{
  @include WH(1200px,340px);
  margin: auto;
  position: relative;
  top: -20px;
}
#lunboShow{
  @include WH(235px,340px);
  @include position(absolute,20px,0,1);
  color: white;
  background-color: rgba(0,0,0,0.6);
}
#lunboShow div:hover{
  background-color: #185;
}
#lunboShow div{
  @include WH(235px,85px);
  line-height: 85px;
  border-bottom: $bianjie;
}
#lunboShow img{
  opacity: 0.6;
  float: left;
  margin: 4px 15px 0 10px;
}
#lunboShow .lun{
  float: right;
  margin-right: 10px;
  line-height: 85px;
}
#lunboShow .rightlun{
  @include WH(15px,85px);
  float: right;
  text-align: right;
  line-height: 85px;
}
#lunboShow .rightlun span{
  display: none;
  margin-right: -5px;
}
.lunboCenter{
  width: 700px;
  background-color: white;
  @include position(absolute,20px,235px,5);
  border: 1px solid #185;
}
.lunboCenterDiv{
  @include WH(130px,40px);
  border: $bianjie;
  margin-left: 15px;
  margin-right: 15px;
  float: left;
  text-align: center;
  line-height: 40px;
  margin-bottom: 15px;
  position: relative;
}
#bg{
  width: 100%;
  float: left;
  //position: absolute;
  background-color: #F7F7F7;
}
#show{
  @include WH(1200px,166px);
  margin: auto;
}
.showDiv{
  @include WH(1200px,301px);
  margin: auto;
}
#show div,.showDiv div{
  border-right: $bianjie;
  float: left;
}
#show div img,.showDiv div img{
  background-size: 100% 100%;
}
.shopP{
  @include WH(1200px,50px);
  margin: auto;
  margin-top: 18px;
  line-height: 50px;
  font-size: 24px;
}
#centerDiv{
  width: 1200px;
  margin: auto;
  //position: relative;
}
#centerLeft{
  width: 890px;
  margin-right: 40px;
  float: left;
}
#site{
  @include WH(890px,42px);
  margin: 20px 0;
}
#site i{
  color: #185;
  margin-left: 12px;
}
#site div{
  @include WH(140px,40px);
  border: 1px solid #185;
  float: left;
  margin-right: 8px;
  line-height: 20px;
  padding: 10px;
}
#site input{
  @include WH(470px,42px);
  border: 1px solid #185;
  float: left;
  padding-left: 15px;
}
#site button{
  @include WH(120px,42px);
  border: none;
  background-color: #185;
  float: left;
  color: white;
  font-size: 22px;
}
#sort{
  @include WH(888px,42px);
  border: $bianjie;
  line-height: 42px;
  background-color: #F7F7F7;
}
.sortDiv,.sortDivs{
  @include WH(120px,40px);
  float: left;
  border: 1px solid rgba(0,0,0,0);
  text-align: center;
}
.sortDivs{
  border-left: none;
}
#map{
  @include WH(120px,22px);
  float: right;
  margin: 10px;
}
#centerRight{
  width: 270px;
  float: right;
  margin-top: 82px;
}
#evaluate{
  @include WH(268px,42px);
  float: right;
  border: $bianjie;
  background-color: #F7F7F7;
  font-size: 22px;
  text-align: center;
  line-height: 42px;
}